<div class="container-fluid">
  <div class="row">
    <div class='mx-auto col-12 col-lg-12 col-lg-12 col-xl-6'>
      <div class="text-center">
      <h1>ようこそ!!<br><i class="fas fa-user-friends"></i><strong>Senior Community Service</strong>  !!</h1>
      <p>この<i class="fas fa-user-friends"></i><strong>Senior Community Service</strong>では</p>
      <p>企業やお店のお得な情報を見ることができたり、</p>
      <p>会員同士のイベント情報を掲載することができます！</p>
      </div>
    </div>
  </div>
</div>