<div class='container px-5 px-sm-0 my-5'>
  <div class="row">
    <div class='col-md-2'>
      <h5>ジャンル検索</h5>
      <%= render 'public/notices/genre', genres: @genres %>
    </div>
    <div class="col-md-10"><h1><投稿一覧>(全<%= @notices.count %>件)</h1></div>
    <div class='form-group row form-inline'>
      <%= render 'index', notices: @notices %>
     </div>
  </div>
</div>


<!--renderの@notieの後に入れる#, #prefix: "index"-->
