<div><h1><シニア会員一覧></h1></div>
<table class="table">
  <thead>
    <tr>
      <th>プロフィール画像</th>
      <th>ニックネーム</th>
      <th>会員ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @seniors.each do |senior| %>
    <tr>
      <td>
        <%= link_to admin_senior_path(senior.id), class:"a" do %>
          <%= image_tag senior.get_profile_image(150,100), class:"rounded shadow col-8" %>
        <% end %>
      </td>
      <td class="display-4"><%= senior.nickname %></td>
      <% if @senior.is_active == true %>
      <td class="display-4 text-success font-weight-bold">有効</td>
      <% else %>
      <td class="display-4 text-muted font-weight-bold">退会</td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>